langchain
langchain-core
langchain-community

langchain-openai
openai

langchain-groq
groq

langchain-google-genai
google-generativeai

langchain-mistralai
mistralai

python-dotenv
tiktoken

faiss-cpu
chromadb
sentence-transformers

pypdf
python-docx

streamlit
fastapi
uvicorn

ipykernel
jupyter

langchain_huggingface